.card {
    min-width: 190px;
}

.bg-light {
    border-radius: 30px;
    min-height: 150px;
}

@media screen and (min-width: 451px) {
    .telefonos {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .telefonos {
        display: flex;
    }

    .szelesebb {
        display: none;
    }

    .offcanvas.offcanvas-end {
        width: 50%;
    }

    .resp {
        min-width: 200px;
        margin: 5px;
    }

    footer {
        font-size: 2.5vw;
    }
}

.nav-link .nop {
    visibility: hidden;
}

.nav-link:hover .nop{

    visibility: visible;
}
